asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.0
django-bootstrap-icons==0.8.7
django-bootstrap5==23.3
django-extensions==3.2.3
gunicorn==21.2.0
idna==3.6
packaging==23.1
pillow==11.2.1
psycopg==3.1.18
psycopg-binary==3.1.18
pydot==2.0.0
pyparsing==3.1.2
python-dotenv==1.0.0
reportlab==4.4.0
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.1
