{% extends "../components/base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Impressum</h2>
    
    <h3>Wärmetechnische Gesellschaft der burgenländischen Rauchfangkehrer</h3>
    
    <p>
        Hauptplatz 10<br>
        A-7442 Lockenhaus<br>
    </p>

    <h3>Kontakt</h3>
    <p>
        Telefon: +43 2616/3130<br>
        E-Mail: office@baumrock.at
    </p>

    <h3>Vertretungsberechtigte Personen</h3>
    <p>
        Obmann: Herbert Baumrock
    </p>

    <h3>Umsatzsteuer-ID</h3>
    <p>
        Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br>
        ATU 211 88 300
    </p>
    <h3>Haftungsausschluss</h3>
    <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
    </p>
    <h3>Urheberrecht</h3>
    <p>
    Die durch den Verein erstellten Inhalte und Werke auf diesen Seiten unterliegen dem österreichischen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
    </p>
    <h3>Datenschutz</h3>
    <p>
        Informationen zum Datenschutz finden Sie in unserer Datenschutzerklärung: <a href="{% url 'terms_and_conditions' %}" target="_blank">AGB/Datenschutz</a>
    </p>
    
</div>
{% endblock content %}