<!DOCTYPE html>
<html data-bs-theme="light" lang="de">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% load bootstrap_icons %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'logo_rfk.png' %}" width="300" height="35" class="d-inline-block align-text-center">
            <span>Bildungsplattform</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/mitarbeiter">Mitarbeiter verwalten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'order_list' %}">Meine Bestellungen</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://docs.google.com/document/d/e/2PACX-1vS16yzjhok2aywLq5QUUHJAqA16KNnqbEPF48BJc-8CY6Nke7MRft3cpzN3lw6I_sK4xNhDm3bq9FW6/pub" target="_blank">Hilfe</a>
                </li>
            </ul>
            <div class="d-flex">
                {% if user.is_authenticated %}
                Servus {{ user.username }}!
                {% else %}
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<header class="bg-primary-gradient">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</header>
<footer class="bg-primary-gradient">
    <div class="container py-4 py-lg-5">
        <hr/>
        <div class="text-muted d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0">Copyright © 2024 WTG Burgenland</p>
            <a href="{% url 'terms_and_conditions' %}" class="text-muted">AGB/Datenschutz</a>
            <a href="{% url 'impressum' %}" class="text-muted">Impressum</a>
        </div>
    </div>
</footer>
</body>
</html>