{% extends "../components/base.html" %}
{% block content %}
<div class="container">
    <div id="step-1" class="checkout-step">
        <h1>Schulung: {{ schulungstermin.schulung.name }}</h1>
        <p>Beschreibung: {{ schulungstermin.schulung.beschreibung }}</p>
        <p>Preis pro Teilnehmer: €<span id="preis-standard">{{ preis|default:"0.00" }}</span></p>
        <p>Noch {{ schulungstermin.freie_plaetze }} Plätze verfügbar</p>

        <form id="checkout-form">
            <div class="form-group">
                <label for="quantity">Menge:</label>
                <input type="number" id="quantity" name="quantity" value="1" min="1" max="{{ schulungstermin.freie_plaetze }}" class="form-control" onchange="calculateTotal()" required>
                <!-- Display an error message -->
                <p id="quantityError" style="color: red; display: none;">Nicht genügend freie Plätze</p>
            </div>
            <div class="form-group">
                <h3>
                    <label for="total-price">Gesamtpreis: €<span id="total-price">{{ preis|default:"0.00" }}</span></label>
                </h3>
            </div>
            <button type="button" class="btn btn-primary" onclick="nextStep(1)">Weiter</button>
        </form>
    </div>

    <div id="step-2" class="checkout-step d-none">
        <form id="details-form" onsubmit="event.preventDefault(); nextStep(2); return false;">
            <div id="participants-details"></div>
            <button type="button" class="btn btn-secondary" onclick="previousStep(2)">Zurück</button>
            <button type="submit" class="btn btn-primary">Weiter</button>
        </form>
    </div>

    <div id="step-3" class="checkout-step d-none">
        <h3>Rechnungsadresse</h3>
        <form id="invoice-form" onsubmit="event.preventDefault(); nextStep(3); return false;">
            <div class="form-group">
                <label for="rechnungsadresse_name">Name/Firma:</label>
                <input type="text" id="rechnungsadresse_name" name="rechnungsadresse_name" 
                       class="form-control" value="{{ invoice_data.name }}" required>
            </div>
            <div class="form-group">
                <label for="rechnungsadresse_strasse">Straße und Hausnummer:</label>
                <input type="text" id="rechnungsadresse_strasse" name="rechnungsadresse_strasse" 
                       class="form-control" value="{{ invoice_data.strasse }}" required>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="rechnungsadresse_plz">Postleitzahl:</label>
                        <input type="text" id="rechnungsadresse_plz" name="rechnungsadresse_plz" 
                               class="form-control" value="{{ invoice_data.plz }}" required>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="rechnungsadresse_ort">Ort:</label>
                        <input type="text" id="rechnungsadresse_ort" name="rechnungsadresse_ort" 
                               class="form-control" value="{{ invoice_data.ort }}" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-secondary" onclick="previousStep(3)">Zurück</button>
            <button type="submit" class="btn btn-primary">Weiter</button>
        </form>
    </div>

    <div id="step-4" class="checkout-step d-none">
        <h3>Bestellbestätigung</h3>
        <div id="confirmation-details"></div>
        <div id="invoice-confirmation"></div>
        <p>Gesamtbetrag: €<span id="total-amount"></span></p>
        <div class="form-group">
            <input type="checkbox" id="accept-terms" name="accept-terms" onclick="toggleConfirmButton()">
            <label for="accept-terms">Ich akzeptiere die <a href="{% url 'terms_and_conditions' %}" target="_blank">AGB</a></label>
        </div>
        <button type="button" class="btn btn-secondary" onclick="previousStep(4)">Zurück</button>
        <button id="confirm-order-button" type="button" class="btn btn-primary" disabled>Zahlungspflichtig bestellen</button>
    </div>
</div>

<script>
    function calculateTotal() {
        var pricePerItem = (parseFloat(document.getElementById('preis-standard').innerText.replace(',', '.')) || 0).toFixed(2);
        var quantity = parseInt(document.getElementById('quantity').value) || 0;
        var totalPrice = (parseFloat(pricePerItem) * quantity).toFixed(2);
        document.getElementById('total-price').innerText = totalPrice;
        document.getElementById('total-amount').innerText = totalPrice;
    }

    function nextStep(currentStep) {
        if (validateStep(currentStep)) {
            document.getElementById('step-' + currentStep).classList.add('d-none');
            document.getElementById('step-' + (currentStep + 1)).classList.remove('d-none');
            if (currentStep === 1) {
                var quantity = parseInt(document.getElementById('quantity').value);
                var participantsDetails = '';
                {% if related_persons %}
                    for (var i = 0; i < quantity; i++) {
                        participantsDetails += `
                            <div class="participant-form">
                                <h4>Teilnehmer ${i + 1}</h4>
                                <div class="form-group">
                                    <label for="person-${i}">Teilnehmer auswählen:</label>
                                    <select id="person-${i}" name="person-${i}" class="form-control" required>
                                        <option value="">Bitte auswählen</option>
                                        {% for person in related_persons %}
                                            <option value="{{ person.id }}" data-name="{{ person.vorname }} {{ person.nachname }}">{{ person.vorname }} {{ person.nachname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="meal-${i}">Mahlzeitoption:</label>
                                    <select id="meal-${i}" name="meal-${i}" class="form-control" required>
                                        <option value="Standard">Standard</option>
                                        <option value="Vegetarisch">Vegetarisch</option>
                                    </select>
                                </div>
                            </div>
                        `;
                    }
                {% else %}
                    for (var i = 0; i < quantity; i++) {
                        participantsDetails += `
                            <div class="participant-form">
                                <h4>Teilnehmer ${i + 1}</h4>
                                <div class="form-group">
                                    <label for="firstname-${i}">Vorname:</label>
                                    <input type="text" id="firstname-${i}" name="firstname-${i}" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="lastname-${i}">Nachname:</label>
                                    <input type="text" id="lastname-${i}" name="lastname-${i}" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="email-${i}">E-Mail:</label>
                                    <input type="email" id="email-${i}" name="email-${i}" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="meal-${i}">Mahlzeitoption:</label>
                                    <select id="meal-${i}" name="meal-${i}" class="form-control" required>
                                        <option value="Standard">Standard</option>
                                        <option value="Vegetarisch">Vegetarisch</option>
                                    </select>
                                </div>
                            </div>
                        `;
                    }
                {% endif %}
                document.getElementById('participants-details').innerHTML = participantsDetails;
                updatePersonSelects(); // Call the function here after populating the select elements.
            } else if (currentStep === 2) {
                // Continue to invoice step without confirmation yet
            } else if (currentStep === 3) {
                // Collecting confirmation details
                var detailsForm = document.getElementById('details-form');
                var confirmationDetails = '<h4>Teilnehmer Details</h4>';
                for (var i = 0; i < detailsForm.elements.length; i++) {
                    var element = detailsForm.elements[i];
                    if (element.name.startsWith('person-')) {
                        var selectedPerson = element.options[element.selectedIndex].text;
                        confirmationDetails += `<p>Teilnehmer: ${selectedPerson}</p>`;
                    } else if (element.name.startsWith('firstname-')) {
                        var firstname = element.value;
                        var lastname = document.getElementById(`lastname-${i}`).value;
                        confirmationDetails += `<p>Teilnehmer: ${firstname} ${lastname}</p>`;
                    }
                    if (element.name.startsWith('email-')) {
                        confirmationDetails += `<p>E-Mail: ${element.value}</p>`;
                    } else if (element.name.startsWith('meal-')) {
                        confirmationDetails += `<p>Mahlzeitoption: ${element.value}</p>`;
                    }
                }
                document.getElementById('confirmation-details').innerHTML = confirmationDetails;
                
                // Add invoice confirmation details
                var invoiceDetails = '<h4>Rechnungsadresse</h4>';
                invoiceDetails += `<p><strong>Name/Firma:</strong> ${document.getElementById('rechnungsadresse_name').value}</p>`;
                invoiceDetails += `<p><strong>Adresse:</strong> ${document.getElementById('rechnungsadresse_strasse').value}</p>`;
                invoiceDetails += `<p><strong>PLZ/Ort:</strong> ${document.getElementById('rechnungsadresse_plz').value} ${document.getElementById('rechnungsadresse_ort').value}</p>`;
                document.getElementById('invoice-confirmation').innerHTML = invoiceDetails;

                // Displaying the total amount
                var totalAmount = parseFloat(document.getElementById('total-price').innerText);
                document.getElementById('total-amount').innerText = totalAmount.toFixed(2);
            }
        }
    }

    function previousStep(currentStep) {
        document.getElementById('step-' + currentStep).classList.add('d-none');
        document.getElementById('step-' + (currentStep - 1)).classList.remove('d-none');
    }

    function validateStep(currentStep) {
        if (currentStep === 1) {
            let isValid = true;
            const form = document.getElementById('checkout-form');
            form.querySelectorAll('input[required], select[required]').forEach((input) => {
                if (!input.value) {
                    isValid = false;
                    input.classList.add('is-invalid');
                } else {
                    input.classList.remove('is-invalid');
                }
            });
            if (!isValid) {
                return false;
            } else {
                return validateQuantity();
            }
        } else if (currentStep === 2) {
            let isValid = true;
            const form = document.getElementById('details-form');
            form.querySelectorAll('input[required], select[required]').forEach((input) => {
                if (!input.value) {
                    input.classList.add('is-invalid');
                    isValid = false;
                } else {
                    input.classList.remove('is-invalid');
                }
            });
            return isValid;
        } else if (currentStep === 3) {
            let isValid = true;
            const form = document.getElementById('invoice-form');
            form.querySelectorAll('input[required], select[required]').forEach((input) => {
                if (!input.value) {
                    input.classList.add('is-invalid');
                    isValid = false;
                } else {
                    input.classList.remove('is-invalid');
                }
            });
            return isValid;
        }
        return true;
    }

    function validateQuantity() {
        const quantityField = document.getElementById('quantity');
        const maxQuantity = parseInt(quantityField.max, 10);
        const selectedQuantity = parseInt(quantityField.value, 10);
        if (selectedQuantity > maxQuantity) {
            document.getElementById('quantityError').style.display = 'block';
            return false; // Prevent form submission
        }
        document.getElementById('quantityError').style.display = 'none';
        return true; // Allow form submission
    }

    function toggleConfirmButton() {
        const checkbox = document.getElementById('accept-terms');
        const confirmButton = document.getElementById('confirm-order-button');
        confirmButton.disabled = !checkbox.checked;
    }

    function updatePersonSelects() {
        var quantity = parseInt(document.getElementById('quantity').value);
        var selectedPeople = [];

        for (var i = 0; i < quantity; i++) {
            var selectElement = document.getElementById(`person-${i}`);
            if (selectElement) {
                var selectedValue = selectElement.value;
                if (selectedValue) {
                    selectedPeople.push(selectedValue);
                }
            }
        }

        for (var i = 0; i < quantity; i++) {
            var selectElement = document.getElementById(`person-${i}`);
            if (selectElement) {
                for (var j = 0; j < selectElement.options.length; j++) {
                    var option = selectElement.options[j];
                    if (option.value) {
                        option.disabled = selectedPeople.includes(option.value) && ! (selectedPeople.indexOf(option.value) == i && selectedValue == option.value); //Allow the current selectElement's selected value to be reselected.
                    }
                }
                selectElement.addEventListener('change', function() {
                    updatePersonSelects();
                });
            }
        }
    }


    document.getElementById('confirm-order-button').addEventListener('click', function() {
        const button = this;
        const originalText = button.textContent;

        // Prevent double-submit by disabling button
        if (button.disabled) {
            return;
        }

        button.disabled = true;
        button.textContent = 'Bestellung wird verarbeitet...';
        button.style.opacity = '0.6';
        button.style.cursor = 'not-allowed';

        let formData = new FormData();
        formData.append('schulungstermin_id', {{ schulungstermin.id }});
        formData.append('quantity', document.getElementById('quantity').value);

        // Append participant details
        document.querySelectorAll('.participant-form').forEach((participant, index) => {
            if (participant.querySelector(`[name=person-${index}]`)) {
                formData.append(`person-${index}`, participant.querySelector(`[name=person-${index}]`).value);
            } else {
                formData.append(`firstname-${index}`, participant.querySelector(`[name=firstname-${index}]`).value);
                formData.append(`lastname-${index}`, participant.querySelector(`[name=lastname-${index}]`).value);
                formData.append(`email-${index}`, participant.querySelector(`[name=email-${index}]`).value);
            }
            formData.append(`meal-${index}`, participant.querySelector(`[name=meal-${index}]`).value);
        });

        // Append invoice address details
        formData.append('rechnungsadresse_name', document.getElementById('rechnungsadresse_name').value);
        formData.append('rechnungsadresse_strasse', document.getElementById('rechnungsadresse_strasse').value);
        formData.append('rechnungsadresse_plz', document.getElementById('rechnungsadresse_plz').value);
        formData.append('rechnungsadresse_ort', document.getElementById('rechnungsadresse_ort').value);

        fetch("{% url 'confirm_order' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(err => Promise.reject(err));
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 'success') {
                // Get the base URL from the Django template tag
                let baseUrl = `{% url 'order_confirmation' 0 %}`;
                // Replace the '0' with the actual id
                let newUrl = baseUrl.replace('0', data.bestellung_id);
                // Do something with the new URL (e.g., navigate to it)
                window.location.href = newUrl;
            } else {
                alert('Fehler bei der Bestellung: ' + (data.message || 'Unbekannter Fehler'));
                // Re-enable button on error
                button.disabled = false;
                button.textContent = originalText;
                button.style.opacity = '1';
                button.style.cursor = 'pointer';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Fehler bei der Bestellung: ' + (error.message || 'Bitte versuchen Sie es erneut.'));
            // Re-enable button on error
            button.disabled = false;
            button.textContent = originalText;
            button.style.opacity = '1';
            button.style.cursor = 'pointer';
        });
    });
</script>
{% endblock content %}