{% extends "../components/base.html" %}
{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4>Herzlich Willkommen auf der Bildungsplattform der burgenländischen Rauchfangkehrer!
    </h4>
    <p class="lead">Hier könnt ihr euch direkt für die bereits geplanten Schulungen anmelden.</p>
</div>
<div class='container d-flex flex-column align-items-center'>
    {% if schulungstermine %}
    {% for schulungstermin in schulungstermine %}
    <div class="card w-75 mb-3" style="max-width: 900px;">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-4">
                    {{ schulungstermin.schulung.art }}
                </div>
                <div class="col-md-8 text-end">
                    ⌖{{ schulungstermin.ort }}
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">{{ schulungstermin.datum|date:"d. b Y" }}</h5>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ schulungstermin.schulung }}</h5>
                    <p class="card-text">{{ schulungstermin.schulung.beschreibung }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="row g-0">
                <div class="col-md-4">
                    <span class="badge rounded-pill text-bg-success">{{ schulungstermin.freie_plaetze }} Freie Plätze</span>
                </div>
                <div class="col-md-8 text-end">
                        {% if user.is_authenticated %}
                        <a href="/register/{{ schulungstermin.id }}/" class="btn btn-primary">Teilnehmen</a>
                        {% else %}
                        <a href="{% url 'login' %}">Einloggen</a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Keine Schulungen verfügbar!</p>
    {% endif %}
</div>
{% endblock content %}
