{% extends "../components/base.html" %}
{% load bootstrap_icons %}
{% block content %}
<div class="text-center mb-5">
    <h2 class="mb-3 fw-bold">Herzlich Willkommen auf der Bildungsplattform</h2>
    <p class="lead text-muted">Hier könnt ihr euch direkt für die bereits geplanten Schulungen anmelden.</p>
</div>
<div class="row g-3 mb-4">
    {% if schulungstermine %}
    {% for schulungstermin in schulungstermine %}
    {% if schulungstermin.buchbar %}
    <div class="col-12">
        <div class="card mb-4">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-4">
                    {{ schulungstermin.schulung.art }}
                </div>
                <div class="col-md-8 text-end">
                    ⌖{{ schulungstermin.ort }}
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">{{ schulungstermin.datum_von|date:"d. b Y" }}</h5>
                    {% if schulungstermin.dauer %}
                    <p class="card-text">Dauer: {{ schulungstermin.dauer }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ schulungstermin.schulung }}</h5>
                    <p class="card-text">{{ schulungstermin.schulung.beschreibung }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="row g-0">
                <div class="col-md-4">
                    <span class="badge text-bg-success fw-normal">{{ schulungstermin.freie_plaetze }} Freie Plätze</span>
                </div>
                <div class="col-md-8 text-end">
                    
                        {% if user.is_authenticated %}
                            {% if person.betrieb in schulungstermin.registrierte_betriebe %}
                            Dein Betrieb ist angemeldet
                            {% endif %}
                            {% if schulungstermin.freie_plaetze > 0 %}
                              <a href="/checkout/{{ schulungstermin.id }}/" class="btn btn-primary">{% bs_icon 'cart' %} Buchen</a>

                            {% else %}
                              Keine freien Plätze
                            {% endif %}
                        {% else %}
                          {% if schulungstermin.freie_plaetze > 0 %}
                            <a href="{% url 'login' %}">Einloggen</a>
                          {% else %}
                              Keine freien Plätze
                          {% endif %}
                        {% endif %}
                
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>Keine Schulungen verfügbar!</p>
    {% endif %}
</div>
{% endblock content %}
