{% extends "../components/base.html" %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </div>
    </div>
    {% endfor %}
</ul>
{% endif %}
<div class='container d-flex'>
    <div class="card w-50">
      <div class="card-header">
        Hier kannst du deine Mitarbeiter verwalten
      </div>
      <form method="post">
          {% csrf_token %}

          {{ formset }}
          <input class="btn btn-primary" type="submit" value="Speichern">
      </form>
    </div>
</div>
{% endblock content %}