{% extends "../components/base.html" %}
{% block content %}
{% if person %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags|default:'primary' }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</ul>
<div class='container d-flex'>
    <div class="card w-50 mx-3">
        <div class="card-header">
            {{ schulungstermin.schulung }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ schulungstermin.datum_von|date:"d. b Y h:m" }} - {{ schulungstermin.datum_bis|date:"d. b Y h:m" }}</h5>
            <p class="card-text">{{ schulungstermin.schulung.beschreibung }}</p>
        </div>
    </div>
<form method="post">
    {% csrf_token %}
    <div class="card">
        <div class="card-header">
            Melde dich und deine Mitarbeiter für diese Schulung an
        </div>
        <ul class="list-group list-group-flush">
            {% for ma in mitarbeiter %}
            <li class="list-group-item">
                {% if ma.id  in teilnehmer %}
                    <input name=cb_{{ma.id}} class="form-check-input me-1" type="checkbox" checked>
                {% else %}
                    <input name=cb_{{ma.id}} class="form-check-input me-1" type="checkbox">
                {% endif %}
                {{ ma.vorname }} {{ ma.nachname }}
            </li>
            <input name=ma_{{ma.id}} type="hidden" value={{ma.id}}>
            {% endfor %}
        </ul>
    </div>
    <button class="btn btn-primary" type="submit">Speichern</button>
    <a href="/">Zurück zu den Schulungen</a>
</form>
</div>
{% else %}
<p>No user found</p>
{% endif %}
{% endblock content %}