{% extends "../components/base.html" %}
{% block content %}
{% if person %}
<form method="post">
    {% csrf_token %}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Melde dich und deine Mitarbeiter für diese Schulung an
        </div>
        <ul class="list-group list-group-flush">
            {% for ma in mitarbeiter %}
            <li class="list-group-item">
                {% if ma.id  in teilnehmer %}
                    <input name=cb_{{ma.id}} class="form-check-input me-1" type="checkbox" checked>
                {% else %}
                    <input name=cb_{{ma.id}} class="form-check-input me-1" type="checkbox">
                {% endif %}
                {{ ma.vorname }} {{ ma.nachname }}
            </li>
            <input name=ma_{{ma.id}} type="hidden" value={{ma.id}}>
            {% endfor %}
        </ul>
    </div>
    <input class="btn btn-primary" type="submit" value="Speichern">
    <a href="/">Zurück zu den Schulungen</a>
</form>
{% else %}
<p>No user found</p>
{% endif %}
{% endblock content %}