{% extends "../components/base.html" %}
{% block content %}
<div class="container">
    <h1>Allgemeine Geschäftsbedingungen (AGB)</h1>
    <h2>Haftung</h2>
    <p>
        Für Schäden, die an anderen Rechtsgütern als dem Leben, Körper oder Gesundheit entstehen, ist eine Haftung
        durch WTG Burgenland ausgeschlossen, soweit die Schäden nicht auf vorsätzlichem oder grob fahrlässigem
        Verhalten von WTG Burgenland, einem seiner gesetzlichen Vertreter oder einem seiner Erfüllungsgehilfen
        beruhen und das Verhalten auch keine Verletzung von vertragswesentlichen Pflichten ist. Wesentliche
        Vertragspflichten sind solche Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages
        überhaupt erst ermöglicht und auf deren Einhaltung der Kunde regelmäßig vertrauen darf.
    </p>
    <p>
        Dieser Haftungsausschluss gilt nicht, soweit Ansprüche nach dem Produkthaftungsgesetz betroffen sind, ein
        Mangel arglistig verschwiegen wurde oder eine Beschaffenheitsgarantie übernommen wurde.
    </p>
    <h2>Vertretung</h2>
    <p>Sie können jederzeit anstelle des angemeldeten Teilnehmers einen Vertreter benennen. Ihnen entstehen keine
        zusätzlichen Kosten.</p>
    <h2>Urheberrecht und Nutzungsrechte</h2>
    <p>
        Gemäß § 2 ff. Urheberrechtsgesetz sind Veranstaltungsunterlagen und Software urheberrechtlich geschützt.
        Alle Rechte, auch die der Übersetzung, des Nachdrucks und der Vervielfältigung dieser Unterlagen oder von
        Teilen daraus liegen bei WTG Burgenland oder deren Partner. Kein Teil dieser Unterlagen darf – auch nicht
        auszugsweise – ohne schriftliche Genehmigung von WTG Burgenland in irgendeiner Form – auch nicht für Zwecke
        der Unterrichtsgestaltung – reproduziert, insbesondere unter Verwendung elektronischer Systeme verarbeitet,
        vervielfältigt, verbreitet oder zu öffentlichen Wiedergaben benutzt werden. Veranstaltungsunterlagen dürfen
        von Teilnehmern nur persönlich und für ihre jeweilig berufliche Tätigkeit genutzt werden.
    </p>
    <h2>Informationsmaterial</h2>
    <p>
        Der / Die Schulungsteilnehmer / in erklärt sich einverstanden, dass die von ihm / ihr getätigten Angaben
        und Kontaktdaten von uns zur Zusendung von Infomaterial genutzt werden. Die Daten werden nicht an Dritte
        weitergegeben, außer an unsere Versanddienstleister.
    </p>
    <h2>Film und Fotorechte</h2>
    <p>
        WTG Burgenland ist berechtigt, Fotografien, Film- und Tonaufnahmen von den Veranstaltungen und den
        Teilnehmern anfertigen zu lassen und für Werbung, Social Media Veröffentlichungen oder Presseveröffentlichungen
        unentgeltlich zu verwenden, sofern der Teilnehmer nicht widerspricht. Fotografien, Film- und Tonaufnahmen
        seitens der Teilnehmer sind mit schriftlicher Zustimmung von Wöhler erlaubt.
    </p>
    <h2>Stornierung der Schulung</h2>
    <p>Bei nicht Erreichen der Mindestzahl hält sich die WTG Burgenland das recht vor, den Kurs zu stornieren.</p>
    <p>
        Bis 14 Tage vor Seminarbeginn 25% Stornogebühr,
        Bis 7 Tage vor Seminarbeginn 50% Stornogebühr,
        ab 3 Werktagen 75% Stornogebühr.
    </p>
    <p>Der Schulungsbeitrag ist bis 14 Tage vor Seminarbeginn einzuzahlen. Ist bis zu Beginn der Schulung nicht
        einbezahlt worden, ist eine Teilnahme nicht möglich.</p>
    <h2>Datenschutz</h2>
    <p>
        Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher
        ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). Ihnen stehen grundsätzlich
        die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und
        Widerspruch zu, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.
    </p>
    <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
        datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, melden Sie sich bitte bei uns.
        Natürlich können Sie sich auch bei der Aufsichtsbehörde beschweren. In Österreich ist dies die
        Datenschutzbehörde.</p>
    <h3>Hier informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen unserer
        Website:</h3>
    <h2>Zugriffsdaten/Logfiles</h2>
    <p>
        Wir (beziehungsweise unser Webspace-Provider) erheben Daten über jeden Zugriff auf das Angebot (so genannte
        Serverlogfiles). Zu den Zugriffsdaten gehören u.a.: Name der abgerufenen Webseite, Datei, Datum und Uhrzeit
        des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp und Version, das
        Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.
    </p>
    <p>
        Wir verwenden die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit
        und der Optimierung des Angebotes. Wir behalten uns jedoch vor, die Protokolldaten nachträglich zu
        überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung
        besteht.
    </p>
    <h2>Formulardaten</h2>
    <p>
        Sämtliche Formulare in dieser Website dienen in erster Linie zur Kontaktaufnahme des Besuchers mit uns. Alle
        eingegebenen Daten werden streng vertraulich behandelt und nicht an Dritte weitergegeben. Nach Absenden
        eines Formulars werden die eingegebenen Daten zwecks Bearbeitung der Anfrage und für den Fall von
        Anschlussfragen sowohl am Server gespeichert, als auch in einer E-Mail an den Besucher und an den
        Seitenbetreiber zur weiteren Bearbeitung gesendet. Optionale Eingabefelder werden zur Erleichterung der
        Kontaktaufnahme und der späteren Korrespondenz angeboten. Wir legen Wert darauf, nur wirklich nötige
        Eingaben als Pflichtfelder zu kennzeichnen.
    </p>
    <p>
        Anfragen, die zu keinem konkreten Geschäftsfall mit entsprechenden Speicherungsfristen führen, werden
        ebenfalls in unserer Geschäftskontakte-Datenbank gespeichert, um etwaige Korrespondenz bei späteren Anfragen
        und Geschäftsfällen zu erleichtern. Weiters werden diese Daten, sofern wir daraus berechtigtes Interesse für
        einen Leistungsbereich/Produkte erkennen können, für zukünftige Informationen darüber verwendet. Inaktive
        Kontakte und Anfragedetails werden gemäß unserer Datenschutzrichtlinien nach einer bestimmten Zeit ab der
        letzten Korrespondenz gelöscht.
    </p>
    <h2>Newsletter</h2>
    <p>
        Bei entsprechender Einwilligung werden Name und E-Mailadresse bis auf weiteres in unseren E-Mail Verteiler
        gespeichert, um in der Aussendung des Newsletters, der u.a. werbliche Informationen beinhaltet,
        berücksichtigt zu werden. Die Zustimmung zum Erhalt des Newsletters kann mit Klick auf den Link am Ende
        jeder E-Mail widerrufen werden. Im Rahmen der Anmeldung speichern wir bzw. unser Newsletter-Provider den
        Anmelde- sowie den Bestätigungszeitpunkt und die IP-Adresse des Nutzers. Wir sind gesetzlich verpflichtet die
        Anmeldungen zu protokollieren, um eine ordnungsgemäße Anmeldung nachweisen zu können.
    </p>
    <p>
        Nicht in diese Kategorie fallen Nachrichten im Rahmen einer Vertragsbeziehung. Dazu gehört der Versand von
        technischen Informationen, Informationen zur Zahlungsabwicklung, Rückfragen zu Aufträgen und vergleichbare
        Nachrichten, die Sie auch nach Abmeldung aus dem Newsletter erhalten werden. Unsere Newsletter werden über
        europäische Anbieter versendet, die DSGVO-Konform arbeiten.
    </p>
    <h2>Funktionale Cookies</h2>
    <p>
        Unsere Website verwendet so genannte Cookies. Dabei handelt es sich um kleine Textdateien, die mit Hilfe des
        Browsers auf Ihrem Endgerät abgelegt werden. Sie richten keinen Schaden an und enthalten keine persönlichen
        Daten. Wir nutzen Cookies dazu, unser Angebot nutzerfreundlich zu gestalten. Einige Cookies bleiben auf Ihrem
        Endgerät gespeichert, bis Sie diese löschen. Sie ermöglichen es uns, Ihren Browser beim nächsten Besuch
        wiederzuerkennen.
    </p>
    <h2>Cookies von Drittanbietern</h2>
    <p>
        Auf unserer Website kommen darüber hinaus nachfolgend aufgeführte Third-Party Technologien zum Einsatz. Diese
        Drittanbieter können theoretisch Cookies setzen, während Sie unsere Website besuchen und dadurch zum Beispiel
        Informationen erhalten, dass Sie unsere Website aufgerufen haben.
    </p>
    <p>
        Beim Aufruf unserer Website geben wir Ihnen die Möglichkeit, zu wählen ob nur funktionale Cookies oder auch
        Drittanbieter-Cookies im Browser zugelassen werden. Diese Entscheidung wird für maximal einen Monat
        gespeichert – dann können Sie erneut die Auswahl treffen. Gemäß Ihrer Entscheidung werden alle Cookies
        verwendet. Entscheidung widerrufen.
    </p>
    <p>
        Darüber hinaus können Sie Ihren Browser so einrichten, dass er Sie über das Setzen von Cookies (insbesondere
        von Drittanbietern) informiert und Sie dies nur im Einzelfall erlauben. Bei der Deaktivierung von Cookies
        kann die Funktionalität unserer Website eingeschränkt sein. Um herauszufinden, wie Sie das in einem
        bestimmten Browser machen, können Sie die in den Browser integrierte Hilfe-Funktion nutzen oder alternativ
        <a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a> aufrufen. Hier wird Schritt für Schritt
        erklärt, wie sich Cookies in den meisten gängigen Browsern verwalten und löschen lassen. Alternativ empfehlen
        wir den Einsatz eines Browser-Plugins wie <a href="http://www.ghostery.com">http://www.ghostery.com</a>, um
        Cookies zu überwachen bzw. zu blockieren.
    </p>
    <h2>Web-Analyse mit Google Analytics</h2>
    <p>
        Wir setzen Google Analytics, einen Webanalysedienst der Google Inc. („Google“) ein. Google verwendet Cookies.
        Die durch das Cookie erzeugten Informationen über die Benutzung des Onlineangebotes durch die Nutzer werden
        in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese
        Informationen in unserem Auftrag benutzen, um die Nutzung unseres Onlineangebotes durch die Nutzer
        auszuwerten, um Reports über die Aktivitäten innerhalb dieses Onlineangebotes zusammenzustellen und um
        weitere mit der Nutzung dieses Onlineangebotes und der Internetnutzung verbundene Dienstleistungen uns
        gegenüber zu erbringen. Dabei können aus den verarbeiteten Daten pseudonyme Nutzungsprofile der Nutzer
        erstellt werden.
    </p>
    <p>
        Wir setzen Google Analytics nur mit aktivierter IP-Anonymisierung ein. Das bedeutet, die IP-Adresse der Nutzer
        wird von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des
        Abkommens über den Europäischen Wirtschaftsraum gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an
        einen Server von Google in den USA übertragen und dort gekürzt. Die von dem Browser des Nutzers übermittelte
        IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzer können die Speicherung der
        Cookies durch eine entsprechende Einstellung ihrer Browser-Software verhindern; die Nutzer können darüber
        hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung des Onlineangebotes bezogenen Daten
        an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link
        verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.
    </p>
    <p>Weitere Informationen zur Datennutzung zu Werbezwecken durch Google, Einstellungs- und Widerspruchsmöglichkeiten
        erfahren Sie auf den Webseiten von Google:</p>
    <ul>
        <li>
            <a href="https://www.google.com/intl/de/policies/privacy/partners/">Datennutzung durch Google bei Ihrer Nutzung von Websites oder Apps unserer Partner</a>
        </li>
        <li><a href="http://www.google.com/policies/technologies/ads">Datennutzung zu Werbezwecken</a></li>
        <li><a href="http://www.google.de/settings/ads">Informationen verwalten, die Google verwendet, um Ihnen Werbung einzublenden</a></li>
        <li><a href="http://www.google.com/ads/preferences/">Bestimmen Sie, welche Werbung Google Ihnen zeigt</a></li>
    </ul>
    <p>
        Die Beziehung zum Webanalyseanbieter basiert auf Standardvertragsklauseln/einem Angemessenheitsbeschluss der
        Europäischen Komission. Die Datenverarbeitung erfolgt auf Basis der gesetzlichen Bestimmungen des § 96 Abs 3
        TKG sowie des Art 6 Abs 1 lit a (Einwilligung) und/oder f (berechtigtes Interesse) der DSGVO. Unser Anliegen
        im Sinne der DSGVO (berechtigtes Interesse) ist die Verbesserung unseres Angebotes und unseres Webauftritts.
        Die Nutzerdaten werden für die Dauer von 26 Monaten (lt. den derzeitigen Standardeinstellungen von Google)
        gespeichert.
    </p>
    <!-- Add more content as needed -->
</div>
{% endblock content %}